body{
    height: 100vh;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btnpole    {
    display: inline-block;
    color: white;
    height: 50x;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px ;
    letter-spacing: 2px;
    padding: .5em 2em;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.1s;
    background-color:  rgb(32, 30, 30);
}

.noshow{
    display: none;
  }
  .show {
    display: block;
    
}
.text,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text {
  display: block;
}


.btn {
    display: inline-block;
    color: white;
    height: 50x;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5px ;
    letter-spacing: 7px;
    padding: .5em 2em;
    outline: none;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    transition: 0.2s;
    background-color:  rgb(32, 30, 30);
}

.pole{
position: sticky;

background-color: rgb(0, 0, 0);
border-radius: 67px;
left: 725px;
top: 43px;
width: 470px;
height: 875px;
}

.pole1{
 
position: sticky;
background-color: rgb(0, 0, 0);
left: 745px;
top: 181px;
width: 429px;
height: 200px;
}
.firstLine{
    position: sticky;
    background-color: #000000;

    width: 429px;
    height: 62px;
    text-align: end;
    font-size: 45px;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    
}
.secondLine {
position: sticky;
background-color: #000000;
left: 0px;
top: 0px;
width: 429px;
height: 90px;
text-align: end;
font-size: 68px;
color: rgb(255, 255, 255);
overflow-y: auto;

}


.pole3 {
position: sticky;
left: 118,36px;
top: 0px;
width: 429,33px;
height: 500,43px;

}

.mainBg {
    
position: sticky;
align-items: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ; 
grid-gap: 14px;

background-color: rgb(0, 0, 0);
font-family: Tahoma;
left: 118px;
width: 429px;
margin:0 auto;
height: 550px;

}

.cifri {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 14px;
    top: 446px;
    width: 89px;
    height: 56px; 
    border-radius: 50%;
    width: 72px;
    height: 72px;
    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    /* margin-top: 20px;
    margin-left: 14px; */
    font-size: 200%;
   
    background: linear-gradient(360deg, #0051ff 50%, #feffff 150%);

    color: rgb(0, 0, 0);
}

.zero {
    
 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: bottom;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: sticky;
    grid-column: 1/3;
    
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 14px;
    height: 60px; 
    width: 180px;
    height: 72px;
    font-size: 200%;
    background: linear-gradient(360deg, #0051ff 50%, #feffff 150%);
    color: rgb(0, 0, 0);
}


.kol {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 14px;
    top: 446px;
    width: 89px;
    height: 56px; 
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 14px;
    font-size: 200%;


}

.sosi{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 14px;
    top: 446px;
    width: 89px;
    height: 56px; 
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background: linear-gradient(360deg, #0c007a 50%, #feffff 150%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 14px;
    font-size: 200%;
    

}

.cifri1 {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 14px;
    top: 446px;
    width: 89px;
    height: 56px; 
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 14px;
    font-size: 150%;
}

.del{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: bottom;
    
    position: sticky;
    grid-column: 2/4;
    grid-row: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 14px;
    height: 60px; 
    width: 180px;
    height: 72px;
    font-size: 150%;
    background: linear-gradient(360deg, #00e1ff 50%, #feffff 150%);
    color: rgb(0, 0, 0);
}

.ac{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 14px;
    top: 446px;
    width: 89px;
    height: 56px; 
    border-radius: 50%;
    width: 72px;
    height: 72px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 14px;
    font-size: 150%;
    background: linear-gradient(360deg, #00e1ff 50%, #feffff 150%);
}